{
    "openapi": "3.0.3",
    "info": {
      "title": "Rest-n-link",
      "description": "Bienvenido **rest-n-link**, podrás encontrar todos los endpoint para trabajar con nosotros.\n\n Para comenzar a utilizar nuestra api deberás tener presente tu token (**contacto_id**) y el de tu empresa (**cliente_id**) \n\nEl primer paso es solicitar el token de autorización ('authorization' token bearer), deberás dirigirte a la sección **Token Auth** en el método **POST**, **access-token**\n\n***Nota**: Todos los endpoing retornan como application/json* y su respectivo código de respuesta http",
      "termsOfService": "",
      "contact": {
        "email": ""
      },
      "version": "1.0.1"
    },
    "servers": [
      {
        "url": "https://api.restinlink.ovh/api/v1"
      },
      {
        "url": "http://127.0.0.1:3100/api/v1"
      }      
    ],
    "tags": [
        {
            "name": "Token Auth",
            "description": "Crea y revisa tus datos de autorización para usar nuestra API"
        },
        {
            "name": "maestros",
            "description": ""
        },
        {
            "name": "condolencias",
            "description": ""
        },
        {
            "name": "cliente",
            "description": ""
        },
        {
            "name": "sepultura",
            "description": ""
        },
        {
            "name": "medios",
            "description": ""
        },
        {
            "name": "imagen perfil",
            "description": ""
        },        
        {
            "name": "contactos",
            "description": ""
        },
        {
            "name": "sucursal",
            "description": ""
        },
        {
            "name": "difunto",
            "description": ""
        }        
    ],
    "paths": {
      "/auth/access-data": {
        "get": {
            "operationId": "get-auth-access-data",
          "tags": [
            "Token Auth"
          ],
          "summary": "Revisa tu token y su tiempo de vida",
          "description": "Te permite conocer si tu token está funcionando correctamente y conocer el tiempo de vida de este",
          "security":[
            {
            "bearerAuth":[]
          }],
          "responses": {
            "200":{
                "description":"Token válido. Se entrega información de segundos restantes de vida.",
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref": "#/components/schemas/Api-Auth-Cor-Tiempo-Restante"
                        }
                    }
                }
            },            
            "400":{
                "description":"Token es inválido. Asegúrate de presentar el formato y token asignado.",
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref": "#/components/schemas/Api-Auth-Err-Response"
                        }
                    }
                }
            },
            "403":{
                "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref": "#/components/schemas/Api-Auth-Err-Response"
                        }
                    }
                }
            }            
          }
        }
      },
      "/auth/access-token":{
        "post":{
            "tags":[
                "Token Auth"
            ],
            "security":[],
            "operationId": "post-auth-access-token",
            "summary":"",
            "description":"",
            "requestBody": {
                "description": "",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/requestBodies/crearAuthToken"
                    }
                  },
                  "application/xml": {},
                  "application/x-www-form-urlencoded": {}              
                },
                "required": true
              }, "responses":{
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/responses/creacion-token"
                            }
                        }
                    }
                },
                "400":{
                    "description":"",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }             
              }            
        }
      },
      "/auth/pesame/all/{difunto_id}":{
        "get":{
            "operationId": "get-auth-all-pesame",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "security":[{
              "bearerAuth":[]
            }],"responses" :{
                "200":{
                    "content":{
                        "application/json":{
                            "schema":{
                                "items":{
                                    "$ref":"#/components/schemas/pesame-privado-busqueda"
                                }
                            }
                        }
                    }
                },
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                 
            }           
        }
      },      
      "/auth/pesame/{difunto_id}":{
        "post":{
            "operationId": "post-auth-pesame",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"id del difunto",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/difunto-pesame"
                        }
                    }
                }
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/pesame/{difunto_id}":{
        "post":{
            "operationId": "post-pesame",
            "tags":["condolencias"],
            "responses":{
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                
            },
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"id del difunto",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/difunto-pesame"
                        }
                    }
                }
            }
        }
      },
      "/auth/pesame/publicar/{pesame_id}":{
        "patch":{
            "operationId": "patch-auth-pesame-publicar",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "security":[{
              "bearerAuth":[]
            }],
            "parameters":[{
                "name":"pesame_id",
                "in":"path",
                "description":"id del pesame para publicar",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "publicar":{
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }                
            },
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/pesame/{pesame_id}":{
        "patch":{
            "operationId": "patch-auth-pesame",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "parameters":[{
                "name":"pesame_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/pesame-publico"
                        }
                    }
                }                
            },            
            "security":[{
              "bearerAuth":[]
            }],"responses": {
                "200":{
                    "description":"Petición terminada con éxito."
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "delete":{
            "operationId": "delete-auth-pesame",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"pesame_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito."
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "get":{
            "operationId": "get-auth-pesame",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"pesame_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/pesame-privado-busqueda-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/pesame/{pesame_id}/{key}":{
        "patch":{
            "operationId": "put-auth-pesame-key",
            "tags":["condolencias"],
            "summary": "",
            "description": "",
            "parameters":[{
                "name":"pesame_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            },{
                "name":"key",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string",
                    "enum": [
                        "nombre",
                        "mensaje",
                        "celular",
                        "email"
                      ]                                        
                }                
            }],          
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{"type":"string", "required":true}
                            }                            
                        }
                    }
                }                
            },              
            "security":[
              {
              "bearerAuth":[]
            }],"responses": {
                "200":{
                    "description":"Petición terminada con éxito."
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/cliente":{
        "operationId": "get-auth-cliente",
        "get":{
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[
              {
              "bearerAuth":[]
            }],"responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/cliente-data-desde-token"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "post":{
            "operationId": "post-auth-cliente",
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "requestBody": {
                "description": "",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/cliente-nuevo"
                    }
                  },
                  "application/xml": {},
                  "application/x-www-form-urlencoded": {}              
                },
                "required": true
              },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },
      "/auth/cliente/{cliente_id}":{
        "put":{
            "operationId": "put-auth-cliente-put-id",
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"id del cliente",
                "required":true,
                "schema":{
                    "type":"string"
                }                
            }],            
            "requestBody": {
                "description": "",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/cliente-nuevo"
                    }
                  },
                  "application/xml": {},
                  "application/x-www-form-urlencoded": {}              
                },
                "required": true
            },
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "delete":{
            "operationId": "put-auth-delete-id",
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"id del cliente",
                "required":true,
                "schema":{
                    "type":"string"
                }                
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },
      "/auth/cliente/{cliente_id}/{key}":{
        "patch":{
            "operationId": "patch-auth-cliente-id",
            "tags":["cliente"],
            "summary": "",
            "security":[{"bearerAuth":[]}],
            "description": "",
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            },{
                "name":"key",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string",
                    "enum": [
                        "nombre",
                        "tipo_id",
                        "api_activa"
                      ]                    
                }
            }],          
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{"type":"string", "required":true}
                            }                            
                        }
                    }
                }                
            },             
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },      
      "/auth/cliente/estado/{cliente_id}":{
        "post":{
            "operationId": "post-auth-cliente-id",
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }                
            }],                      
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{
                                    "type":"boolean",
                                    "required":true
                                }
                            }                            
                        }
                    }
                }                
            },                          
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{

                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/cliente/estado-api/{cliente_id}":{
        "post":{
            "operationId": "post-auth-cliente-estado-id",
            "tags":["cliente"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }                
            }],                      
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{
                                    "type":"boolean",
                                    "required":true
                                }
                            }                            
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{

                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },     
      "/sepultura/{qr_id}":{
        "get":{
            "operationId": "sepultura-qr",
            "tags":["sepultura"],
            "security":[],
            "summary":"",
            "description":"",
            "parameters":[{
                    "name": "qr_id",
                    "in": "path",
                    "description": "",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }                
            }],
            "responses":{
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/sepultura-qr"
                            }
                        }
                    }
                },
                "400":{
                    "description":"",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }             
              }             
        }  
      },      
      "/auth/sepultura":{
        "post":{
            "operationId": "post-auth-sepultura",
            "tags":["sepultura"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/sepultura-ingreso"
                        }
                    }
                }                
            },             
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },
      "/auth/sepultura/{sepultura_id}":{
        "put":{
            "operationId": "patch-auth-sepultura-id",
            "tags":["sepultura"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name": "sucursal_id",
                "in": "path",
                "description": "",
                "required": true,
                "schema": {
                    "type": "string"
                }  
            }],                        
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/sepultura-ingreso"
                        }
                    }
                }                
            },                          
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "get":{
            "operationId": "get-auth-sepultura-id",
            "tags":["sepultura"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name": "sepultura_id",
                "in": "path",
                "description": "",
                "required": true,
                "schema": {
                    "type": "string"
                }  
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/sepultura-informacion"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "delete":{
            "operationId": "delete-auth-sepultura",
            "tags":["sepultura"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name": "sucursal_id",
                "in": "path",
                "description": "",
                "required": true,
                "schema": {
                    "type": "string"
                }  
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },
      "/auth/sepultura/{sepultura_id}/{key}":{
        "patch":{
            "operationId": "put-auth-sepultura-id-key",
            "tags":["sepultura"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"key",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string",
                    "enum":["gps", "camposanto_nombre", "camposanto_direccion", "sepultura_nombre"]
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{"type":"string", "required":true}
                            }                            
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },      
      "/auth/difunto":{
        "post":{
            "operationId": "post-auth-difunto",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/difunto-ingreso"
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/difunto/{difunto_id}/{key}":{
        "patch":{
            "operationId": "patch-auth-difunto-id",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }
            },{
                "name":"key",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string",
                    "enum": ["comuna_id", "nombre", "apellido", "apodo", "biografia", "fecha_nacimiento", "fecha_partida", "gps", "genero", "sepultura_id", "tipo_ser_vivo_id"]                    
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "type":"object",
                            "properties":{
                                "value":{"type":"string", "required":true}
                            }                            
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }     
      },
      "/auth/difunto/{cliente_id}/all-from-client":{
        "get":{
            "operationId": "get-auth-difunto-id",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"cliente_id",
                "in":"path",
                "description":"id del cliente",
                "required":true,
                "schema":{
                    "type":"string"
                }                
            }],            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/todo-difuntos-de-cliente"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }        
      },
      "/auth/difunto/{difunto_id}":{
        "get":{
            "operationId": "get-auth-difunto-id",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/difunto-simple-data"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "put":{
            "operationId": "put-auth-difunto-id",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],            
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/difunto-ingreso"
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        },
        "delete":{
            "operationId": "delete-auth-difunto-id",
            "tags":["difunto"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/medios/{difunto_id}/upload-binary/profile":{
        "post":{
            "operationId": "post-auth-medios-binary-profile",
            "tags":["imagen perfil"],
            "summary": "",
            "description": "",
            "security":[
              {
              "bearerAuth":[]
            }],"responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/medios/{difunto_id}/upload/profile":{
        "post":{
            "operationId": "post-auth-medios-upload-profile",
            "tags":["imagen perfil"],
            "summary": "",
            "description": "",
            "security":[
              {
              "bearerAuth":[]
            }],"responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/medios/{difunto_id}":{
        "get":{
            "operationId": "post-auth-medios-difunto-id",
            "tags":["medios"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"id del pesame",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/difunto-medios"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                }                            
              }
        }
      },
      "/auth/medios/{difunto_id}/upload/by-url":{
        "post":{
            "operationId": "post-auth-medios-difunto-id-upload-url",
            "tags":["medios"],
            "summary": "",
            "description": "",
            "security":[{"bearerAuth":[]}],
            "parameters":[{
                "name":"difunto_id",
                "in":"path",
                "description":"",
                "required":true,
                "schema":{
                    "type":"string"
                }
            }],
            "requestBody":{
                "content":{
                    "application/json":{
                        "schema":{
                            "$ref":"#/components/schemas/difunto-medios-agregar-url"
                        }
                    }
                }                
            },            
            "responses": {
                "200":{
                    "description":"Petición terminada con éxito.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/responses-api-cor-id"
                            }
                        }
                    }
                }, 
                "400":{
                    "description":"Problemas o conflictos en el endpoint. Debes entregar todos los datos solicitados al momento de la petición",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "401":{
                    "description":"Sin autorización.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },  
                "403":{
                    "description":"La vida del token ha caducado. Deberás volver a solicitarlo",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },
                "406":{
                    "description":"Token inválido.",
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Api-Auth-Err-Response"
                            }
                        }
                    }
                },                                        
                "412":{
                    "description":"Bearer token no enviado",
                    "content":{
[...]
